---

layout: basic
title: Overview
class: overview
nav-order: 1
color: "#480127"

banner-supertitle: Discover
banner-title: Hong Kong



intro: >
  <p class="p--lead">Hong Kong is a destination set to send even the most experienced traveller’s senses reeling. Rising out of thick mist in a steep bay, tall towers wrestle to dominate the ultra-modern skyline – a scene that, at night, lights up and seems to ignite the waters in a rainbow of colour. </p>
  <p class="p--lead">Yet for all its modernity, tradition, heritage and culture rules. From family-run hawker stands enticing you to try exotic treats, to the lively markets juxtaposing the serenity of the temples and holy sites that dot the islands, Hong Kong is a place of constant surprise. Look out over the picturesque bay from a trendy rooftop cocktail joint, or glide through the city from the top deck of the kitsch tramcars before heading out of town for spirited walks in sublime tropical climes. </p>



sections:

  - title: A Foodie Nirvana
    class: food-and-drink
    content: >
      <p class="p--lead">From the clang and cries of the hawkers to the latest creation of celebrity chefs, Hong Kong offers a broad culinary repertoire. </p>
      <p>A bonafide foodie destination, alight at rackety stalls for hearty portions of irresistible roasted meats, dip into hidden bakeries to find the city’s best pineapple bun, or enjoy the fine craft of a Michelin restaurant. Hong Kong has the cheapest Michelin restaurant in the world, so even the most forward-thinking dish is accessible to all. </p>

  - title: Culturally Diverse
    class: art-and-culture
    content: >
      <p class="p--lead">Ancient traditions mix seamlessly with modern preoccupations, in a city that carefully balances innovation with heritage. </p>
      <p>Therefore it is easy to unpick the many faces of Hong Kong’s cultural landscape. Whether it’s colonial remnants seen in the architecture or the food, or the old Chinese temples and monuments that sit next to Gurdwaras and Synagogues, the city bustles with a complex yet joyful identity. See it play out on the streets, on the stage, in the museums and in the energy that charges along the roads. </p>

  - title: Shop ‘til you Drop
    class: shopping
    content: >
      <p class="p--lead">Hong Kong has long been a premiere shopping mecca.</p>
      <p>Maybe it has something to do with the quality of shops available, or maybe it’s because you don’t pay sales tax on any purchases! Regardless, Hong Kong has something for all shoppers. From high-end boutiques in smart shopping malls, to markets packed with trinkets, tailored Chinese gowns and hidden vintage shops, you’ll find a host of unique treasures.</p>

---




<section class="section--padding-large">
  <div class="row row--padding">

    {% for section in page.sections %}
    <div class="bob" id="section-{{section.class}}">
      <div class="bob__image bg-image bg-image--ratio bg-image--ratio-16-9 bg-image--xxlarge--ratio-3-2" style="background-image:url('{{ site.baseurl }}/img/content/overview/{{ section.class }}.jpg');"></div>
      <div class="bob__text">
        <h2 class="title title--small title--light">{{ section.title }}</h2>
        {{ section.content }}
      </div>
    </div>
    {% endfor %}

  </div>
</section>




{% assign pois = site.data.top-pois | sort:"number" %}
<section class="section--padding-large bg--light-grey">

  <div class="row row--padding align-center">
    <h2 class="title title--large title--light">Hong Kong Top Picks</h2>
    <p class="p--lead">From Dim Sum to Ding Ding, here's our top 10 things to see and do in this enchanting city</p>
  </div>

  <div class="row row--padding cycle-slideshow"
    data-cycle-fx="carousel"
    data-cycle-timeout="0"
    data-cycle-carousel-visible="3"
    data-cycle-slides=".poi"
    data-cycle-prev="#prev"
    data-cycle-next="#next">

    {% for poi in pois %}
      {% include pois/top-poi.html %}
    {% endfor %}

    <a href="javascript:void();" class="cycle-prev" id="prev">
      <img src="{{site.baseurl}}/img/icons/arrow-left-black.png" class="js-svg-swap" alt="Previous" width="60">
    </a>
    <a href="javascript:void();" class="cycle-next" id="next">
      <img src="{{site.baseurl}}/img/icons/arrow-right-black.png" class="js-svg-swap" alt="Next" width="60">
    </a>

  </div>

  {% include pois/modal-top-pois.html %}

</section>




<section class="section--padding-xlarge align-center">
  <div class="row row--padding">
    <h2 class="title title--large title--light">Start exploring</h2>
    <p class="p--lead">Discover the neighbourhoods of Hong Kong, for an unforgettable getaway in this Asian starlet. </p>
    <a href="{{ site.baseurl }}/explore" class="btn btn--large">Discover Hong Kong</a>
  </div>
</section>

