
<div class="intro">

  <section class="intro__content intro--{{ page.class }}">


    <div class="row row--padding align-center">
      {{ page.intro }}
    </div>


    {% if page.class == "explore" %}
      <div class="row row--padding row--xthin align-center page-links">
        {% for section in page.sections %}
        <span class="page-links__item">
          <a class="page-links__link" href="#section-{{ section.class }}">{{ section.title }}</a>
        </span>
        {% endfor %}
      </div>
    {% endif %}


  </section>

</div>

