
/* ===============================================
 *     CYCLE SLIDESHOW STYLING
 * =============================================== */



.cycle-slideshow {
  width: 100%;
  position: relative;
  padding: 0 3em;
   &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    width: 3em;
  }
  &:before {
    left: 0;
    background: -moz-linear-gradient(right, rgba($white,0) 0%, rgba($white,1) 100%);
    background: -webkit-linear-gradient(right, rgba($white,0) 0%,rgba($white,1) 100%);
    background: linear-gradient(to left, rgba($white,0) 0%,rgba($white,1) 100%);
  }
  &:after {
    right: 0;
    background: -moz-linear-gradient(left, rgba($white,0) 0%, rgba($white,1) 100%);
    background: -webkit-linear-gradient(left, rgba($white,0) 0%,rgba($white,1) 100%);
    background: linear-gradient(to right, rgba($white,0) 0%,rgba($white,1) 100%);
  }
}
.cycle-carousel-wrap {
  width: 100%;
  z-index: 0;
  padding: 0 3em !important;
}
.cycle-prev,
.cycle-next {
  @include transition();
  position: absolute;
  top: 50%;
  margin-top: -32px;
  z-index: 5;
  padding: 1em;
  background-color: $white;
  .csstransforms & {
    margin-top: 0;
    transform: translateY(-50%);
  }
  & img { width: 20px; }
}
.cycle-prev {
  left: 0;
  padding-left: 0;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.2);
  &:hover { padding-left: 0.5em; }
}
.cycle-next {
  right: 0;
  padding-right: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  &:hover { padding-right: 0.5em; }
}