
/* ===============================================
 *     POIs
 * =============================================== */


.poi {
  @include transition();
  position: relative;
  overflow: visible;
  margin-bottom: 2em;
  background-size: auto 100% !important;
  box-shadow: 0 0 10px 1px rgba($partner-black,0.1);
  &:hover {
    background-size: auto 105% !important;
    box-shadow: 0 2px 12px 1px rgba($partner-black,0.25);
  }

  &__title {
    @include transition();
    background-color: rgba($partner-secondary,0.85);
    position: absolute;
    top: 0.66em;
    left: -0.66em;
    padding: 0.66em 0.66em;
    white-space: normal;
    & .title {
      color: $white;
    }
    &-num {
      font-weight: 600;
      background-color: $partner-primary;
      text-align: center;
      padding: 0em 0;
      width: 24px;
      height: 10px;
      letter-spacing: 0;
      line-height: 0;
      display: inline-block;
    }
  }
  &:hover &__title {
    background-color: rgba($partner-secondary,1);
    left: -0em;
  }

  &__location {
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    text-indent: -1.5em;
    font-size: 0.9em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-family: $title-font-family;
    &:before {
      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-right: .5em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
  &__content {
    @include transition();
    color: $text-heading;
    position: absolute;
    white-space: normal;
    bottom: 0;
    width: 100%;
    padding: 6em 1.5em 1.5em;
    background: -moz-linear-gradient(top, rgba($white,0) 0%, rgba($white,1) 60%);
    background: -webkit-linear-gradient(top, rgba($white,0) 0%,rgba($white,1) 60%);
    background: linear-gradient(to bottom, rgba($white,0) 0%,rgba($white,1) 60%);
  }



  &--top {
    position: relative !important;
    width: 30%;
    margin: 2em 1.665%;
  }
}


