

<section class="guide-section {% cycle ' guide-section--invert',''%} section--padding-xxlarge" id="section-{{ section.class }}" style="background-image: url({{ site.baseurl }}/img/bg/explore/{{ section.class }}.jpg); background-color: {{ section.color }};">



  <div class="guide-section__title row row--padding align-center">
    <h2 class="title title--large title--display title--upper title--expanded">{{ section.title }}</h2>
    {% if section.subtitle %}
      <span class="title title--tiny title--lined">{{ section.subtitle }}</span>
    {% endif %}
  </div>



  <div class="row row--thin row--padding">
    <div class="guide-section__content row--columns-5-7 row--columns-vertical-align bg--white">

      <div class="row__column bg-image bg-image--ratio-16-9 bg-image--large--ratio-3-4  bg-image--xxlarge--ratio-1-1" style="background-image:url({{site.baseurl}}/img/content/explore/{{ section.class }}.jpg);"></div>

      <div class="guide-section__content-text row__column row--padding">
      {{ section.content }}
      </div>

    </div>
  </div>



  {% if pois.size > 0 %}
  <div class="row row--thin row--padding row--columns-4-4-4-gutters" id="#hl-{{ section.class }}">
    {% for poi in pois %}
      {% include pois/poi.html %}
    {% endfor %}
  </div>
  {% endif %}


</section>