<section class="guide-section guide-section--medium section--padding-xxlarge js-bg-fade" id="section-{{ section.class }}" style="background-image: url('{{site.baseurl}}/img/content/explore/{{section.class}}.jpg');">

  <div class="row row--padding align-center invert-text">

    {% if section.supertitle %}
      <h2 class="title title--smallest title--upper title--expanded title--serif title--lined title--margin-small">{{ section.supertitle }}</h2>
    {% endif %}

    <h2 class="title title--medium title--upper title--expanded">{{ section.title }}</h2>

    {% if section.subtitle %}
      <span class="title title--micro title--upper title--expanded title--serif title--lined">{{ section.subtitle }}</span>
    {% else %}
      <hr class="hr--center hr--margin">
    {% endif %}

    {{ section.content }}
  </div>

  <div class="js-bg-fade__overlay"></div>

</section>