

<div class="row row--thin guide-section--small bg--white">

  <div class="guide-section--small__image bg-image bg-image--ratio-16-9 bg-image--xlarge--ratio-3-4 bg-image--xxlarge--ratio-3-4" style="background-image:url({{site.baseurl}}/img/content/explore/{{ section.class }}.jpg);"></div>

  <div class="guide-section--small__text row--padding">
    <h2 class="title title--small title--light title--margin-small">{{ section.title }}</h2>
    {% if section.subtitle %}
      <h4 class="title title--micro title--display title--bold title--upper title--expanded">{{ section.subtitle }}</h4>
    {% endif %}
    {{ section.content }}
    {% if section.link %}
    <a href="{{section.link}}" class="btn btn--large">Discover more</a>
    {% endif %}
  </div>

</div>