---

layout: basic
title: Explore
class: explore
nav-order: 2
color: "#0e1f3f"

banner-title: Explore
banner-subtitle: Hong Kong

intro: >
  <p class="p--lead">Discover the neighbourhoods of Hong Kong, for an unforgettable getaway in this Asian starlet. </p>
  <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>



sections:

  - title: Central & SoHo
    class: central-and-soho
    color: "#000000"
    subtitle: The something something awesome district
    feature: true
    content: >
      <p class="p--lead">The shining epicentre of Hong Kong business, Central is an awe-inspiring marvel of glistening towers and fierce modernity. </p>
      <p>It fills with workers throughout the day, who then spill into smart cocktail bars and a host of Michelin restaurants that provide a network of stylish hangouts as the sun sets. You’ll find luxury shopping to fill your days, framed by glass and steel monoliths. Take the Mid-Levels Escalator, past the iconic revelry of the LFK nightspots, and alight at SoHo. This artsy neighbourhood is the playground of Central’s bon vivants, where narrow streets shelter burgeoning galleries, smart boutiques, cool bars and renowned eateries. Grab a coffee from an indie roastery, pick from acclaimed restaurants, and see and be seen.</p>

  - title: Causeway Bay
    class: causeway-bay
    color: "#000000"
    subtitle: The something something awesome district
    feature: true
    content: >
      <p>Causeway Bay is for many about just one thing – shopping. From perfumed department stores to sleek malls, this area is geared for sheer retail therapy. </p>
      <p>Head for the famous Sogo and Times Square Mall to start. If the seemingly endless throng of high-end brands in the malls becomes overwhelming, you’ll find unique purchases in the boutiques that line the Fashion Walk and the stalls along Jardine’s Crescent. To accommodate the crowds, cafes and eateries dot the area, particularly along the aptly named Food Street. If it all becomes a little much, head for Victoria Park, the largest in the city. For a truly tranquil spot, don’t miss the Tin Hau Temple gardens.</p>

  - title: Sheung Wan
    class: sheung-wan
    color: "#000000"
    subtitle: The something something awesome district
    feature: true
    content: >
      <p>A transformed area, Sheung Wan has gone from sleepy suburb to hip, urban hangout. </p>
      <p>As ever in Hong Kong, once cheaper rents saw an influx of artists and creatives, transforming the streets here into a warren of vintage shops, boutiques, indie roasteries and fashionable eateries. Hunt for treasure in the antique shops of Cat Street and Hollywood Street, before heading into PoHo for a healthy dose of local art and soy lattes. Galleries, indoors and on the street, showcase upcoming talent in the area, with designers flogging the latest fashions from small shops. Sheung Wan is a bona fide hipster hangout.</p>

  - title: Sai Ying Pun
    class: sai-ying-pun
    color: "#000000"
    subtitle: The something something awesome district
    feature: true
    content: >
      <p>Known as a linchpin of the Hong Kong gastronomic scene, Sai Ying Pun is host to some of the most exciting new restaurants in the city. </p>
      <p>As one of the oldest districts, this reinvention slots seamlessly into the locals’ feel of the area, where word-of-mouth buzz encourages bolder and bolder culinary treasures. You’re spoilt for choice come dinner time – expect everything from tapas to reinvented Cantonese feasts. Prop up in a local bar and ask around for the latest hot tip – Hong Kong encourages a dynamic and ever-changing foodie scene, so be sure to ask which latest venture is exciting the tastebuds of Hong Kong foodies. </p>

  - title: Kennedy Town
    class: kennedy-town
    color: "#000000"
    subtitle: The something something awesome district
    content: >
      <p>Hong Kong’s immediate suburbs have all enjoyed complete reinvention over the last decade – Kennedy Town is no different.</p>
      <p>The area once offered cheap rents that led to an influx of students and artsy types that created a truly vibrant corner of the city. Now, you can pick from a host of coveted restaurants like Picnic on Forbes or Comptoir, making this district a foodie destination. Kennedy Town is probably best known for the proliferation of hip craft beer hangouts. From bottle shops to microbreweries, Kennedy Town is a one-stop shop for discovering Hong Kong’s craft beer credentials. Gānbēi!</p>

  - title: Wan Chai
    class: wan-chai
    color: "#000000"
    subtitle: The something something awesome district
    content: >
      <p>This up-and-coming neighbourhood is a great spot to explore to catch Hong Kong’s thriving arts scene. </p>
      <p>One of the oldest parts of Hong Kong, heritage trails take you past icons like the Blue House, Pak Tai temple and colourful markets. After perusing the colonial buildings, dip into arts centres like the HKCEC or the Hong Kong Arts Centre. Alight at a host of Dim Sum joints and as the sun sets, head over to Lockhart Road for down to earth revelry ‘til the early hours.</p>

  - title: Mongkok
    class: mongkok
    color: "#000000"
    subtitle: The something something awesome district
    content: >
      <p>Across the bay from the hubbub of the city, Mongkok is the central area of that other impressive skyline. </p>
      <p>The trip across the bay alone is worth it – the city’s ferry service is super cheap and a great way to see the famous skylines. Head into the heart of Mongkok for a healthy selection of bustling markets. This is certainly the cheaper side of Hong Kong shopping, where haggling is borderline mandatory, and garish tourist tat creates a myriad of colours that deserve documenting. The Ladies market covers leather goods and questionable designer knock-offs, but for a truly colourful display, the flower market, bird market and goldfish market make for a truly enchanting adventure.  </p>

  - title: Lantau Island
    class: lantau-island
    color: "#000000"
    subtitle: The something something awesome district
    content: >
      <p>Take the ferry and escape the city to this island idyll covered in verdant forests. </p>
      <p>Lantau Island is perhaps most famous for the vast bronze Buddha, sat atop a towering peak. See the Po Lin Monastery, a magnificent Buddhist temple that acts as a gateway to the seemingly endless staircase that leads to the Buddha. Other highlights on the island include the Ngong Ping cable car, a superlative way of getting to and from the island, and the Wisdom Path, a truly spiritual experience that makes for great respite from the hustle and bustle of the city. Lantau sits in stark contrast to the city – a place of peace, wistful walks and hikes, natural beauty and spirituality. </p>


---

{% assign sections = page.sections %}



{% for section in sections %}
  {% assign pois = site.data.pois | where: 'section', section.class %}

  {% if section.feature %}
    {% include guide-sections/large.html %}
  {% endif %}

{% endfor %}
{% assign pois = site.data.pois %}
{% include pois/modal.html %}



<section class="section--padding-xlarge bg--light-grey">

  <div class="row row--padding align-center">
    <h2 class="title title--large title--light">Don't miss...</h2>
    <p class="p--lead">Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod.</p>
  </div>

  <div class="row row--thin row--padding">
    {% for section in sections %}
      {% unless section.feature %}
        {% include guide-sections/small.html %}
      {% endunless %}
    {% endfor %}
  </div>

</section>




{% include offers/promo.html %}



