
<a
  href="javascript:void(0);"
  id="poi-{{ poi.title | slugify }}"
  class="poi poi--top bg-image bg-image--ratio-1-1 bg-image--xlarge--ratio-3-4 bg--white js-open-modal"
  data-modal-id="{{poi.title | slugify}}"
  style="background-image: url('{{ site.baseurl }}/img/content/pois/{{ poi.title | slugify }}.jpg');">

  <div class="poi__title">
    <h4 class="title title--micro title--upper title--expanded"><span class="poi__title-num">{{ poi.number }}</span> {{ poi.title }}</h2>
  </div>

  <div class="poi__content">
    {% if poi.location %}
      <div class="poi__location">{{ poi.location }}</div>
    {% endif %}
    <p>{{ poi.content | truncate: 100 }}</p>
  </div>

</a>
