---

layout: basic
title: Competition
class: competition
nav-order: 6

banner-supertitle: Competition
banner-title: Win a dream Hong Kong holiday

intro: >
  <p class="p--lead">From the western Ionians to the eastern Dodecanese, find your perfect Greek getaway below, with our handpicked selection of stunning hotels and luxurious packages</p>

---



<section class="section bg--light-grey">
  <div class="row row--padding">
    {% assign offers = site.data.offers | sort: 'saved' | reverse %}
    {% for offer in offers %}
      {% include offers/normal.html %}
    {% endfor %}
  </div>
</section>



{% include offers/banner.html %}