---
layout: guide
---
{% assign highlights = site.data.highlights | where:"guide",page.class %}



{% assign sections = page.sections | sort: 'hierarchy' %}
{% for section in sections %}
  {% assign section-highlights = highlights | where: 'guide-section', section.class %}

  {% if section.hierarchy == 1 %}

  <section class="section--padding-large {% cycle '', 'bg--light-grey' %}" id="section-{{ section.class }}">

    <div class="row row--padding align-center">
      <h2 class="title title--large title--upper title--expanded">{{ section.title }}</h2>
      <span class="title title--micro title--upper title--expanded title--serif title--lined">{{ section.subtitle }}</span>
      {{ section.content }}
    </div>

      {% if section-highlights.size > 0 %}
      <div class="row row--thin align-center">
        <div class="row--columns-4-4-4-gutters row--padding highlights highlights--day-guide" id="highlights-{{ section.class }}">
          {% for highlight in section-highlights %}
            {% include highlights/normal.html %}
          {% endfor %}
        </div>
      </div>
      {% endif %}

    </div>

  </section>

  {% elsif section.hierarchy == 2 %}
    {% include guides/sections/medium.html %}
  {% endif %}

{% endfor %}



{% include highlights/modal.html %}
